@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {  
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.TypeWriter {
    font-size: x-large;
    font-weight: bold;
    color: #D8D8D8;
}
